.form{
    height: 320px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;  
    box-shadow: 2px 2px 2px 2px;
    font-size: 17px;

}

.input{
    
}

.main-div{
margin-top: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    margin-top: 8px;
    border: 2px solid black;
}